<tr>
	<td>

		{{#if link}}
			<a href="{{link}}" style="text-decoration: none; color: #000000;">
		{{/if}}
			
			<img src="http://placehold.it/600x100/" />

		{{#if link}}
			</a>
		{{/if}}

	</td>
</tr>