<!-- EMAIL TEMPLATE -->
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td align="center">

			<table width="600" cellpadding="0" cellspacing="0" border="0">
				
				{{> banner image="http://placehold.it/600x100/" link="#"}}

				<!-- CONTENT -->
				<tr>
					<td>
						<h1>Lorem ipsum...</h1>
						
						<p>Lorem ipsum dolor sit amet. Donec ut euismod leo, sed venenatis nisl. Etiam quis rutrum massa, ac lobortis est. Mauris consequat libero sed lectus suscipit venenatis. Sed ullamcorper lacinia diam, at auctor mi venenatis et. Nullam ultricies nec arcu in fringilla. Integer ultrices ultrices neque, at vestibulum eros eleifend luctus. Mauris efficitur aliquet sem, ut blandit sapien mattis nec. Morbi non mauris ac diam ullamcorper gravida. Mauris semper, lacus ac tempor hendrerit, augue lacus ultrices augue, at tempor metus ipsum eu nibh. Nam quis lacinia leo.</p>
						
						<p>Aliquam nec fermentum justo, nec venenatis diam. Cras imperdiet, quam at suscipit tristique, libero turpis laoreet tortor, ac dapibus lacus est eget magna. Sed nec dictum tortor. Maecenas et luctus ligula. In semper orci ex. Integer non vulputate urna. Nunc maximus scelerisque nisi id lobortis.</p>
					</td>
				</tr>

			</table>
		
		</td>
	</tr>
</table>